/*_variables.scss */

/* Body Text Family */
$font-primary: "Avenir", "Lato", sans-serif;
$font-seconary: Helvetica, Arial, sans-serif;

/* Body Text Styles */
$font-primary-color: black;
$font-primary-size: 62.5%;
$font-primary-weight: 400;

/* Colors */
$yellow: #f4e97f;
$green: #64bcb0;
$red: #8c3364;