/*_form.scss */

#ra-form {
	background: $yellow;
	box-shadow: 0em 2em 3em 0.08em rgba(0, 0, 0, 0.3);
	width: 100%;
	max-width: 72em;
	overflow: auto;

	section {
		display: none;
	}

	input, button#ra-button-next {
		width: ((66 / 72) * 100) * 1%;
		font-family: $font-primary;
		font-size: 2.2em;
		letter-spacing: 0.01em;
		display: block;
		margin: 0 auto ((2.7 / 2.6) * 1em);
		cursor: pointer;
	}

	input {
		box-shadow: inset 0em 0.05em 0.08em 0.08em rgba(0, 0, 0, 0.5);
		background: white;
		padding: ((2 / 2.6) * 1em) ((1.5 / 2.6) * 1em);
		color: black;

		&::placeholder {
			color: black;
		}

		&.invalid {
			border: 5px solid $red;
		}
	}

	button {
		border-radius: 0;
		text-shadow: none;
		box-shadow: none;
		border: 0;
		padding: ((2 / 2.6) * 1em) ((1.5 / 2.6) * 1em);
		text-transform: uppercase;
		color: white;

		&#ra-button-next {
			background: $red;
			font-family: $font-primary;
			font-weight: $font-primary-weight;
		}

		&#ra-button-back {
			background: transparent;
			display: block;
			margin: 0 auto;
			padding: 0;
			text-align: center;
			color: black;
			font-size: 1.5em;
			cursor: pointer;
			font-weight: 600;
		}
	}
}