.progress {

	.progress-bar {
		width: ((66 / 72) * 100) * 1%;
		margin: 0 auto ((3 / 1.4) * 1em);
		background: #faf3c0;
		border-radius: 7px;
		height: 1.4em;
		overflow: hidden;
	}

	.progress-status {
		width: 0;
		height: 1.4em;
		background: $green;

		&.step-2 {
			width: 33.3%;		
		}

		&.step-3 {
			width: 66.6%;		
		}
	}

	p {
		margin-bottom: 0;
		font-size: 2em;
		text-align: center;
	}
	
}